<h1><%= @agency_from_url.name %> Volunteers</h1>

<div class="text-right">
  <%= link_to 'New Volunteer', new_agency_volunteer_path(@agency_from_url), :class => "btn btn-primary" %>
</div>

<hr>

<table class= "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Yob</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to volunteer.name, "mailto:#{volunteer.email}" %></td>
        <td><%= (Time.now.year - volunteer.yob.year) %></td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.email %></td>
        <td><%= link_to 'Show', agency_volunteer_path(volunteer.agency, volunteer) %></td>
        <td><%= link_to 'Edit', edit_agency_volunteer_path(volunteer.agency, volunteer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
