<%= simple_form_for(@agency) do |f| %>
  <div class="form_wrapper">
    <%= f.error_notification %>
    <% if current_user.is_admin %>
      <%= f.input :agycode, :label => "Agency Code" %>  
    <% end %>
    <%= f.input :name %>
      <div id="address_section">
        <%= f.association :address do |a| %>
          <%= a.input :street_line_1, :placeholder => "123 Main Street" %>
          <%= a.input :street_line_2 %>
          <div class="row">
            <div class="col-md-4">
              <%= a.input :city, :placeholder => "Atlanta" %>
            </div>
            <div class="col-md-4">
              <%= a.input :state, collection: (Address.states), :prompt => 'State...' %>
            </div>
            <div class="col-md-4">
              <%= a.input :zip, :placeholder => "30303" %>
            </div>
          </div>
        <% end %>
      </div>
      <%= f.association :services,   as: :check_boxes %>

      <%= f.input :restrictions %>
      <%= f.input :hours_of_operation %>
      <%= f.input :contact_name %>
      <%= f.input :contact_phone %>
      <%= f.input :contact_email %>
      <%= f.input :geographic_restrictions %>
      <%= f.input :family_stipulations %>
      <%= f.input :faith_based %>
      <%= f.input :general_information %>
      <div class="actions">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
  </div>
<% end %>
