<%= image_tag("acfb.png") %>
<h1><%= @agency.name %></h1>

<%= link_to "Volunteer", new_agency_volunteer_path(@agency), :class => "btn btn-primary btn-lg" %>
<p>
  <strong>Restrictions:</strong>
  <%= @agency.restrictions %>
</p>

<%= image_tag @agency.address.  map %>

<p>
  <strong>Hours of operation:</strong>
  <%= @agency.hours_of_operation %>
</p>

<p>
  <strong>Address:</strong>
  <pre><%= @agency.address.to_s %></pre>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @agency.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @agency.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @agency.contact_email %>
</p>

<p>
  <strong>Services:</strong>
  <%= @agency.services %>
</p>

<p>
  <strong>Geographic restrictions:</strong>
  <%= @agency.geographic_restrictions %>
</p>

<p>
  <strong>Family stipulations:</strong>
  <%= @agency.family_stipulations %>
</p>

<p>
  <strong>Faith based:</strong>
  <%= @agency.faith_based %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @agency.is_active %>
</p>

<p>
  <strong>General information:</strong>
  <%= @agency.general_information %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
