<section id="home_header">
  <h1 class="main-heading">Find Food Help</h1>
  <p class="main-subtitle">We at the Atlanta Community Food Bank Partner with <%= Agency.all.count %> food kitchens and pantries around Metro Atlanta. Search below for a location near you.</p>

  <%= form_tag root_url, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>
  <input class="search_input">
</section>

<div class="container">

  <section class="search_results">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag Agency.all_agencies %>
      </div>
      <div class="col-sm-6">
        <table class="full_width">
          <% @agencies.last(4).each do |agency| %>
            <tr>
              <td>
                <div class="agency_search_result">
                  <h2><%= agency.name %></h2>
                  <%= agency.address.street_line_1 %>
                  <%= agency.address.street_line_2 if agency.address.street_line_2 %><br>
                  <%= agency.address.city %>, <%= agency.address.state %> <%= agency.address.zip %><br>
                  <strong>Phone</strong> <%= agency.contact_phone %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-6">
        <h2>Are you a food agency that wants to list on the ACFB agency list?</h2>
        <p>Tumblr sriracha Shoreditch iPhone disrupt banh mi asymmetrical Intelligentsia actually. Odd Future cred Austin photo booth pickled. Biodiesel pop-up PBR&B, literally +1 butcher Godard cred PBR bespoke Etsy authentic squid. Craft beer four loko DIY, PBR typewriter pork belly kale chips +1.</p>
        <%= link_to "Register now", new_user_registration_path, :class => "btn btn-primary btn-lg " %>
      </div>
      <div class="col-sm-6">
        <h2>Not sure if you are eligible for food help?</h2>
        <p>Tumblr sriracha Shoreditch iPhone disrupt banh mi asymmetrical Intelligentsia actually. Odd Future cred Austin photo booth pickled. Biodiesel pop-up PBR&B, literally +1 butcher Godard cred PBR bespoke Etsy authentic squid. Craft beer four loko DIY, PBR typewriter pork belly kale chips +1.</p>
        <%= link_to "Learn More", "http://www.acfb.org/find-help", :class => "btn btn-primary btn-lg  " %>
      </div>
    </div>
  </section>

</div>

<section class="united_way">
  <div class="container">
    <div class="text-center">
      <h2>Nonfood Assistance</h2>
      <p>If you, your family, or someone you know is in need of non-food assistance, please call or visit the United Way’s 2-1-1 “First Call for Help” line to get referrals of agencies near you. They will not only have listings of food pantries, but also will be able to direct you to agencies that provide other services you might need, such as utility assistance, clothing, job training and more.</p><br>
      <%= link_to image_tag("united_way_button.png"), "http://211online.unitedwayatlanta.org/" %>
    </div>
  </div>
</section>