<h1><%= @agency_from_url.name %> Updates</h1>

<div class="text-right">
  <%= link_to 'New Update', new_agency_update_path(@agency_from_url), :class => "btn btn-primary" %>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= truncate(update.content, :length => 100) %></td>
        <td><%= link_to 'Show', agency_update_path(update.agency, update), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Edit', edit_agency_update_path(update.agency, update), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Destroy', agency_update_path(update.agency, update), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

